.Info {
	position:absolute;
	width:100%;
	display:grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 205px repeat(6, auto 50px);
	grid-template-areas: 
		". . ."
		". first ."
		". . ."
		". spinny ."
		". . ."
		". modal .";
}
.firstInformation {
	grid-area: first;
	background-color: rgba(71, 141, 255, 0.9);
	font-family: Roboto Slab;
	border: solid black 5px;
}
.spinnyDeath {
	display:flex;
	width: 25vw;
	height:25vw;
	margin-left:auto;
	margin-right:auto;
	font-size: 10vw;
	justify-content: space-around;
	align-items: center;
	grid-area: spinny;
	background-color: rgba(71, 141, 255, 0.9);
	font-family: Roboto Slab;
	border: solid black 5px;
}
.popUp {
	grid-area: modal;
	display:flex;
	margin-left:auto;
	margin-right:auto;
	justify-content: space-around;
	flex-direction:column;
	align-items: center;
	background-color: rgba(71, 141, 255, 0.9);
	font-family: Roboto Slab;
	border: solid black 5px;
}


.modal {
	font-family: Roboto Slab;
	display: none; /* Hide the modal by default */
	position: fixed; /* Fixed so it doesn't move */
	z-index: 1; /* Ensures it sits on the top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Modal scroll's if needed */
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
}
#myBtn{
	border: solid black 3px;
	margin-bottom: 10px;
	padding-left:10px;
	padding-right:10px;
	background-color: rgba(255,255,255, 0.5);
	
}
#myBtn:hover{
	border: dashed black 3px;
	background-color: rgba(255,0,0,1);
	
}
.popUp h1{
	margin-left:20px;
	margin-right: 20px;
}
.modal-content {
	background-color: rgba(255,0,120,1);
	border: dotted purple 50px;
	margin: 15% auto;
	padding: 20px;
	width: 80%;
}


.close {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.spinnyDeath p{
	margin:0;
}

.firstInformation  h1{
	font-size: 3vw;
	text-align: center;
}
.firstInformation  h2{
	font-size: 2vw;
	text-align: center;
}

@media screen and (min-width: 1000px){
    .firstInformation  h1{
		font-size: 30px;
		text-align: center;
	}
	.firstInformation  h2{
		font-size: 20px;
		text-align: center;
	}
}
@media screen and (max-width: 500px) {
	.firstInformation  h2{
		font-size: 10px;
		text-align: center;
	}
}
.firstInformation  p{
	margin-left: 5px;
}
