.TopBar {
	width:100%;
	background-color: rgba(150, 150, 150, 0.9);
	position: fixed;
	z-index: 10;
	top:0;
	display:grid;
	grid-template-columns: 110px auto;
	grid-template-rows: 10px 100% 10px;
	grid-template-areas:
		"border-top border-top"
		"icon title"
		"border-bottom border-bottom";
	
}
.Info {
	position:absolute;
	width:100%;
	display:grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 205px 1fr repeat(8, 20px auto);
	grid-template-areas: 
		". . ."
		". first ."
		". . ."
		". fortnite ."
		". . ."
		". cs ."
		". . ."
		". tf2 ."
		". . ."
		". survivio ."
		". . ."
		". . .";
	
}
.firstInformation {
	grid-area: first;
	background-color: rgba(71, 141, 255, 0.9);
	font-family: 'Gugi', cursive;
	border: solid black 5px;
}
.Info  h1{
	font-size: 3vw;
	text-align: center;
}
.Info  h2{
	font-size: 2vw;
	text-align: center;
}
@media screen and (min-width: 1000px){
    .Info  h1{
		font-size: 30px;
		text-align: center;
	}
	.Info  h2{
		font-size: 20px;
		text-align: center;
	}
}
@media screen and (max-width: 500px) {
	.Info  h1{
		font-size: 30px;
		text-align: center;
	}
	.Info  h2{
		font-size: 20px;
		text-align: center;
	}
}
.Info  p{
	margin-left: 5px;
}

.fortniteInfo {
	grid-area: fortnite;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: rgba(71, 141, 255, 0.9);
	font-family: Roboto Slab;
	border: solid black 5px;
}
.CSGOInfo {
	grid-area: cs;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: rgba(71, 141, 255, 0.9);
	font-family: Roboto Slab;
	border: solid black 5px;
}
.TF2 {
	grid-area: tf2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: rgba(71, 141, 255, 0.9);
	font-family: Roboto Slab;
	border: solid black 5px;
}
.Survivio {
	grid-area: survivio;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: rgba(71, 141, 255, 0.9);
	font-family: Roboto Slab;
	border: solid black 5px;
}
.Image{
	width: 100%;
	height: 100%;
}